<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/list', user: @user %>

    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <table class="table table-striped">
          <thaed>
            <tr align="center">
              <th></th>
              <th></th>
              <th></th>
              <th colspan="3"></th>
            </tr>
          </thaed>
        <tbody>
            <tr>
              <td>
                <%= attachment_image_tag @user, :profile_image, :fill, 90, 100, format:'jpeg', fallback: "no_image.jpg" %>
                <%= link_to @user.name, user_path(@user.id) %>
              </td>
                <td><%= link_to @book_1.title, book_path(@book_1.id) %></td>
                <td><%= @book_1.body %></td>
                <% if @book_1.user_id == current_user.id %>
            
                <td><%=link_to "Edit",edit_book_path(@book_1.id)%></td>
                <td><%=link_to "Destroy",book_path(@book_1.id), method: :delete, "date-confim"=>"本当に削除しますか?"%></td>
                <% end %>            
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
